*{
    margin: 0px;
    padding: 0px;
}
/* header related styles */
.menu-container{
    background-color: rgb(56, 55, 55);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: blue;
}

/* banner related styles */
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid gray;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,#070707,#131212);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: #131212;
}

/* about us style */
.about-us{
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
}
.about-img{
    width: 250px;
    margin-top: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    
}
.about-text{
    margin-bottom: 125px;
}
.about-decsription{
    margin-top: 15px;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: #070707;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.service-section{
    background-image: url("./images/background.png"),
    linear-gradient(30deg,#070707,#131212);
}
.service-title{
    color: white;
    padding-top: 50px;
}